<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanU - Shipping Cannabis, Cannabis Regulation Compliance</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link rel="stylesheet" href="../public/style.css">

</head>
<body>
        <div class="container">
        <h1 class="brand"><span>Can</span>U</h1>

        <div class="wrapper animated bounceInLeft">

            <div class="topMessage">
               
            </div>

        
            <div class="shippingInfo">
                <h1>We checked and as of right now</h1>

                <div class="ansYes">
                    <p class="ansBig">The answer is Yes, you can.</p>
                    <p class="ansBody">Though in California you will need to go through a distributer.
For farther details on the current regulations please see the California <a href="https://www.bcc.ca.gov/">Bureau of Cannabis Control</a>'s listing <a href="https://cannabis.ca.gov/cannabis-regulations/">here</a>.
                    </p>
                </div>
            </div>
</body>
</html>