<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CanU - Shipping Cannabis, Cannabis Regulation Compliance</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
    <link rel="stylesheet" href="../public/style.css">

</head>
<body>
        <div class="container">
        <h1 class="brand"><span>Can</span>U</h1>

        <div class="wrapper animated bounceInLeft">

            <div class="topMessage">
                <h3>CanU</h3>
                <ul>
                    <li>addess</li>
                    <li>475-464-4200</li>
                    <li>testing@canu.us</li>
                </ul>
            </div>

            <div class="shippingInfo"> 
                <h3>Yes, you can cali</h3>
            </div>
</body>
</html>