/* Custom Props */
:root{
    --main-bg-color: #4dff4d;
    --light-bg-color: #b8ff4d;
    --form-bg-color: #d3ffd3;
    --color-main: #0d660d;
}

/*  */
*{
    box-sizing: border-box;
    
}

body {
    background: var(--main-bg-color);
    color: var(--color-main);
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul{
    list-style: none;
    padding: 0;
}

.brand{
    text-align: center;
}

.brand span{
    color: white;
}
 .wrapper{
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
 }

 .wrapper * {
     padding: 1em;
 }

 .wrapper .topMessage {
     background: var(--light-bg-color);
 }

 .topMessage h3, .topMessage ul{
    text-align: center;
    margin: 0,0, 1rem,0;
 }

/* Form styling */

 .shippingInfo{
    background: var(--form-bg-color);
 }

.shippingInfo form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
}

.shippingInfo form label, .shippingInfo form h3 {
    display: block;
}

.shippingInfo form p{
    margin: 0;
}

.shippingInfo form 

.shippingInfo .full{
    grid-column: 1/3;
}

.shippingInfo form button, .shippingInfo form input, .shippingInfo form select {
    width: 80%;
    padding: 1em;
    border: 1px solid var(--light-bg-color);
}

.shippingInfo form button{
    border: 0;
    background: var(--light-bg-color);
    text-transform: uppercase;
}

.shippingInfo form button:hover, .shippingInfo form button:focus{
    background: var(--main-bg-color);
    outline: 0;
    transition: background-color 2s ease-out;
}

.ansYes, .ansNo{
    text-align: center;
    background: green;
    color: #fff;
    border-radius: 25px;
}

.ansBig{
    font-size: 36pt;
}

.ansBody{
    font-size: 24pt;
}

.ansYes a {
    margin: 0;
    padding: 0;
}
/* Large screens */
@media(min-width:700px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .topMessage h3, .topMessage ul, .brand{
        text-align: left;
    }
}

